.App {
  text-align: center;
  background-color: #3B4664;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.my-logo {
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.switch {
  position: relative;
  border: 1px solid black
}

.switch input,
.switch input::before,
.switch input:checked,
.switch input::after {
  display: none;
}

.switch__indicator {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 0;
  background: blue;
  border-radius: 50%;
  transition: transform 600ms cubic-bezier(.02, .94, .09, .97),
    background 300ms cubic-bezier(.17, .67, .14, 1.03);
  /* transform: translate3d(0, 0, 0); */
}

input#one:checked~.switch__indicator {
  background: PaleGreen;
  transform: translate3d(0, 0, 0);
}

input#two:checked~.switch__indicator {
  background: MediumTurquoise;
  transform: translate3d(13px, 0, 0);
}

input#three:checked~.switch__indicator {
  background: PaleVioletRed;
  transform: translate3d(26px, 0, 0);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bg-my {
  background-color: #252D44;
}

.grid-my>div {
  background-color: #EAE3DB;
  /* border: 1px solid black; */
  font-size: 28px;
  box-shadow: 0px 4px #B2A295;
  cursor: pointer;
  font-weight: 700;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}